.cell {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border: 1px solid rgb(163, 162, 162);
  font-weight: bold;
  font-size: 20px;

  &.reveal {
    background-color: rgb(184, 184, 184);
    border: 1px solid gray;
  }

  &.exploded {
    background-color: red;
  }

  &.mine-1 {
    color: rgb(2, 2, 210);
  }

  &.mines-2 {
    color: green;
  }

  &.mines-3 {
    color: red;
  }

  &.mines-4 {
    color: rgb(154, 18, 154);
  }

  &.mines-5 {
    color: maroon;
  }

  &.mines-6 {
    color: rgb(37, 155, 143);
  }

  &.mines-7 {
    color: black;
  }

  &.mines-8 {
    color: rgb(88, 87, 87);
  }
}
