.previous-results {
  margin: 16px 64px;
  display: flex;
  font-size: 1rem;
  .results-category {
    flex: 33%;
    padding: 8px;
  }
}

.record-entry {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

@media only screen and (max-width: 800px) {
  .previous-results {
    flex-direction: column;
  }
}
